@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  outline: none;
}

a {
  text-decoration: none;
  color: grey;
}

img {
  cursor: pointer;
}

.flex-div {
  display: flex;
  align-items: center;
}